<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <display-name>Key value data store 2.0</display-name>

    <!-- Define a servlet -->
    <servlet>
        <servlet-name>DataStoreApiClient</servlet-name>
        <servlet-class>WebServer.DataStoreApiClient</servlet-class>
    </servlet>

    <!-- Map the servlet to a URL -->
    <servlet-mapping>
        <servlet-name>DataStoreApiClient</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>listeners.IndexInitializerListener</listener-class>
    </listener>
</web-app>
